<ion-header>
	<ion-toolbar>
		<ion-title>
			Ejercicio 1
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

		<ion-card class="welcome-card">
			<ion-img src="/assets/shapes.svg"></ion-img>
			<ion-card-header>
				<ion-card-subtitle>Guia 3 -- {{ guia }} </ion-card-subtitle>
				<ion-card-title>Ejercicio 1</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<p>1. la base y al altura de un rectángulo y tenga la siguiente estructura:</p>
				<p>Una clase llamada rectángulo debe de tener dos propiedades:</p>
				<p> * base</p>
				<p> * altura</p>
				<p>Un método que calcule el área = base * altura,</p>
				<p>Un método que calcules el perímetro = 2 * (base + altura)</p>
				<p>Cada método debe de retornar el resultado numero.</p>
			</ion-card-content>
		</ion-card>

		<form (ngSubmit)="calculate()">
			<h1>
				{{ (base + altura)*2 }}
			</h1>
			<ion-item>
				<ion-label>Base</ion-label>
				<ion-input type="number" [(ngModel)]="base" name="title" value="1"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Altura</ion-label>
				<ion-input type="number" [(ngModel)]="altura" name="title" value="1"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label>Guia</ion-label>
				<ion-input type="number" [(ngModel)]="guia" name="guia" value="1"></ion-input>
			</ion-item>

			<button ion-button type="submit" block>Calcular</button>

			
		</form>



</ion-content>
