<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicio 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Guia 3</ion-card-subtitle>
        <ion-card-title>Ejercicio 3</ion-card-title>
        <ion-card-title>  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      
        <p> ¿Como realizo el siguiente ejercicio con templeate literal?. </p>

      </ion-card-content>
    </ion-card>

    <!--
      <ion-button (click)="login()">
        enviar
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button> 
    -->
    
			<!--<form (ngSubmit)="login()">-->

          <h1>
            {{ dato }}
          </h1>
  
          <ion-item>
          
            <ion-label>nombre:</ion-label>
            <ion-input type="text" [(ngModel)]="dato" name="nombre"></ion-input>
          </ion-item>
  
          <button ion-button type="submit" block>dar saludo</button>
  
  
        <!--</form>-->
    
  



</ion-content>
